@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #2f2e41;
}

.bg-color-g{
    background-color: #00BFA6;
}
.bg-color-g-o {
    background-color: #75ecdc88;
}
.bg-color-g-hover:hover {
    background-color: #00BFA6;
}
.bg-color-i {
    background-color: #2f2e41;
}
.bg-color-i-l {
    background-color: #8a89a0b4;
}
.bg-color-i-o:hover{
    background-color: #2f2e41ce;
}
.bg-color-gy {
    background-color: #e6e6e6;
}
.color-g {
    color: #00BFA6;
}
.color-i {
    color: #2f2e41;
}
.color-gy {
    color: #e6e6e6;
}

.nav-link:hover{
    border-bottom: 2px solid#2f2e41;
}

.header {
    font-size: 40px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 80vh;
}

input {
    padding: 2;
    outline: none;

}
.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    color: #00BFA6;
    font-size: 20px;
    margin-top: 12px;
}
.submit-btn {
    padding: 4px;
    border: #00BFA6 2px solid;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    color: #00BFA6;
}
.submit-btn:hover {
    color: white;
    background-color: #00BFA6;
}
input::placeholder{
    color: rgba(128, 128, 128, 0.514);
}
input:focus{
    border-bottom: #00BFA6 2px solid;
}

.user-display {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.user-display img {
    width: 50px;
}

.menu-item:hover {
    color: #00BFA6;
    background-color: #2f2e41;
}

.card:hover {
background-color: #2f2e41;
color: white;
}

input:disabled{
    background-color: transparent;
}